*.rbc
capybara-*.html
# Share RSpec command-line options
# .rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
**/public/assets
**/tmp
**.orig
rerun.txt
pickle-email-*.html
.sass-cache/
.vscode/

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
# Allow in Github as it does not contain Production values
# config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# Ignore all logfiles and tempfiles.
**/log
!/log/.keep
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity

# Ignore react-on-rails translation files
/app/javascript/translations/translations.js
/app/javascript/translations/default.js
