%section
  .row
    .small-10.columns.small-centered
      %h2 Update Your Account
      = render partial: 'members/form', locals: {resource: resource, resource_path: registration_path(resource_name), exclude_password: true}
