/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'foundation_and_settings';
@import 'foundation-icons';

.outline {
  div, canvas {
    outline: 1px solid red;
  }
}

.card {
  
  .button {
    cursor: pointer;
    height: 150px;
    width: 100%;
    position: relative;

    &.success {
      label {
        color: $white;
      }
    }

    label {
      color: $light-gray;
      font-size: 110%;
      font-weight: bold;
      height: 20%;
      width: 100%;
      position: relative;
      top: 50%;
      left: 0%;
      margin: -10% 0 0 0;
    }
  }
}

.chart {
  width: 100%;
  height: 400px;
}

.spacer {
  height: 2em;
}

.tabs {
  .tab-title {
    border: 1px solid transparent;
    margin: 0 4px;

    &.active {
      border: 1px solid $dark-gray;

      a {
        background-color: $light-gray;
      }
    }
  }
}

#error_explanation {
  border: 1px solid rgba(255,0,0,0.88);
  h2 {
    background-color: rgba(255,0,0,0.88);
    color:white;
    font-size:90%;
    margin: 0;
    padding: 0.25em;
  }
  ul {
    font-size:90%;
    margin: 0 2em 0;
    padding: 0.5em 0.25em;
  }
}
