%section
  .row
    .small-10.columns.small-centered
      %h2= I18n.t :join, scope: [:welcome]
      = render partial: 'members/form', locals: {resource: @welcome, resource_name: :member, resource_path: welcome_complete_signup_step_url(@welcome), method: :patch}
