= render partial: 'shared/spacer'
.row
  .small-10.small-centered.columns.end
    - resource.tag_sets.each do |ts|
      .row
        .small-3.columns
          = ts.plural
        .small-9.columns
          = resource.tags.from_set(ts).map{|t| t.to_s}.join(', ')
.row
  .small-2.columns
    .actions
      = link_to t(:edit, scope:[:common]), edit_preference_tags_path(resource), class: 'button small', style: 'width: 100%'
